$themeColor: #42b983;
$lightGray: #d8d8d8;
$gray: #7a7a7a;
$normal: #2c3e50;

.row {
  display: flex;
  .col {
    &.narrow {
      width: 15%;
    }
    &.wide {
      width: 70%;
    }
  }
}
.wrapper {
  text-align: left;
    select {
      width: 100%;
      font-size: smaller;
      border-radius: 0.2rem;
      border-color: $lightGray;
    }
    select:focus {
      border-color: $themeColor !important;
    }
    select:active {
      border-color: $themeColor !important;
    }
    select:after {
      border-color: $lightGray;
    }
}
.wrapper-mid {
  text-align: center;
  margin-left: 0;
}
.form-label {
  font-size: smaller;
  margin-bottom: 0;
}
.form-control-sm {
  font-size: x-small;
}

option:focus {
  background-color: $themeColor;
}
input[type="file"] {
  display: none;
}
.form-label {
  display: none;
}
button {
  background-color: white;
  border: $lightGray 1px solid;
  border-radius: 4px;
  width: 100%;
  font-size: small;
}
button:hover {
  border: $themeColor 1px solid;
  i {
    color: $themeColor;
  }
}
.config-tag {
  padding-left: 1vw;
  margin-bottom: -1vh;
  font-size: smaller;
  color: black;
  span:nth-child(2) {
    margin-right: 1vw;
  }
}
.config-radio {
  position: relative;
  margin: 4px 0;
  input {
    font-size: 0.8rem;
    &+ label {
      color: $lightGray;
    }
    &:checked + label {
     color: $normal;
    }
  }
  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $lightGray;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $gray;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
  label {
    position: absolute;
    left: 1.2rem;
    font-size: 0.9rem;
  }
}

i {
  cursor: pointer;
  color: $gray;
  &.light {
    color: $lightGray;
  }
  font-size: 1rem;
  &.active {
    color: $themeColor;
  }
  &:hover {
    color: $themeColor;
  }
  &.lg {
    font-size: 1.5rem;
  }
}